{{#> layout}}
<div class="jumbotron jumbotron-fluid" style="background-size: cover; background-position: center; padding: 10em; background-image: url({{Banner}})"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7 offset-md-1" id="maincontainer">
			<br>
			<h1 class="home-header"><span>{{Header}}</span></h1>
			<br>
			<p>{{Description}}</p>
			<br>
			<div class= "row">
			{{#each Facilities}}
				<div class="col-md-4 d-flex align-self-stretch">
					<a href="{{this.Relative_Link}}">
						<div class="card mb-4 shadow-sm d-flex align-self-stretch" >

							<img class="card-img-top" src="{{this.Image}}">
							<div class="card-body">
								<p class="card-text">{{this.Facility_Name}}</p>
							</div>
						</div>
					</a>
				</div>
			{{/each}}
			</div>
		</div>
		<div class="col-md-3">
			{{>facebook}}
		</div>
	</div>
</div>
<link rel="stylesheet" href="/assets/css/facilities.css">
{{/layout}}
